

<h2>Login</h2>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="~/script/node_modules/mdi/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="~/Scripts/css/style.css" />
<script type="text/javascript">
    function Login() {
        var name = $("#tf-box").val();
        var password = $("#tf-box-leading").val();
        if (name =="") {
            alert("Please input your name.");
        }
        else if (password == "") {
            alert("Please input your password.");
        }
        else {
            $.ajax({
                url: "/Login/Login_check",
                data: {
                    name: name,
                    Password: password//参数
                },
                type: "POST",
                success: function (re) {
                    if (re != null && re > 0) {
                        window.location.href = "/Product/Index?id=" + re;
                    }
                    else {
                        alert("The account name or password is incorrect. Please re-enter it.");
                    }
                }
            });
        }
    }

</script>
<header class="mdc-toolbar mdc-elevation--z4 mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <div class="mdc-menu-anchor">
                @*<div class="mdc-menu-anchor">
                        <a href="#" class="mdc-toolbar__icon mdc-ripple-surface" data-mdc-auto-init="MDCRipple">
                            <i class="material-icons">widgets</i>Login
                        </a>
                    </div>*@
            </div>
        </section>
    </div>
</header>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">Login</h1>
        </section>
        <section class="mdc-card__supporting-text">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                    <div class="template-demo">
                        <div id="demo-tf-box-wrapper">
                            <div id="tf-box-example" class="mdc-text-field mdc-text-field--box w-100">
                                <input required pattern=".{8,}" type="text" id="tf-box" class="mdc-text-field__input" aria-controls="name-validation-message">
                                <label for="tf-box" class="mdc-text-field__label">Your Name</label>
                                <div class="mdc-text-field__bottom-line"></div>
                            </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="name-validation-msg">
                                Must be at least 8 characters
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                    <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                            <div id="tf-box-leading-example" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100">
                                <i class="material-icons mdc-text-field__icon" tabindex="0">event</i>
                                <input type="text" id="tf-box-leading" class="mdc-text-field__input">
                                <label for="tf-box-leading" class="mdc-text-field__label">Your Password</label>
                                <div class="mdc-text-field__bottom-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="page-wrapper mdc-toolbar-fixed-adjust">
    <main class="content-wrapper">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                                <section class="purchase__card_section">
                                    @*<p>Like what you see? Check out our premium version for more.</p>*@
                                </section>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                                <section class="purchase__card_section d-flex align-item-center">
                                    <a href="/Login/Register" target="_blank" class="mdc-button mdc-button--stroked mdc-button--dense" data-mdc-auto-init="MDCRipple">
                                        Register Now
                                    </a>
                                    <a href="#" onclick="Login()" target="_blank" class="mdc-button mdc-button--raised mdc-button--dense" data-mdc-auto-init="MDCRipple">
                                        Login
                                    </a>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
